/* DashboardGeneral.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  /* color: #333; */
  margin: 0;
  padding: 0;
}

h1, h3 {
  color: #2c3e50;
  text-align: center;
  
}

button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button:hover {
  background-color: #cee4f3;
}

input, select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  /* background-color: rgb(22, 22, 22); */
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

li button {
  background-color: #e74c3c;
}

li button:hover {
  background-color: #c0392b;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.dashboard-header button {
  margin: 10px;
}

.dashboard-content {
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto;
}




  